body,
html {
    height: 100%;
    margin: 0px;
}
body {
 background-color: #d4e4fe;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: Arial,sans-serif;
    font-weight: 400;
    color: #2b4875;
}
h3 {
    font-size: 24px;
}

/*intro*/

.intro {
    width: 100%;
    height: 100%;
    background-image: url("../images/background.png");
    background-size: cover;
    position: relative;
    padding-top: 0px;
    padding-bottom: 0px;
}

.summary {
    position: absolute;
    top: 5%;
    left: 10%;

    /*border*/
    padding: 12px 24px;

    /*text*/
    text-align: left;
    letter-spacing: 4px;
    color: #2b4875;
}

.name {
    font-size: 32px !important;
}

.hide-name {
    display: none !important;
    white-space: nowrap;
}

/*navbar*/

.navbar {
    width: auto;
    color: #2b4875;
    position: absolute;
    left: 60%;
    top: 10%;
}

.button {
    border: none;
    display: inline-block;
    padding: 10px 25px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: underline dotted;
    background-color: inherit;
    cursor: pointer;
    white-space: nowrap;

     /*text*/
    text-align: center;
    letter-spacing: 4px;
    color: #2b4875;
}

@media only screen and (max-width: 600px) {
    .summary {
        top: 5%;
        left: 0%;
        text-align: center;
    }

    .summary h1 {
        font-size: 24px !important;
    }

    .summary h3 {
        font-size: 16px;
    }

    .navbar {
        top: 65%;
        left: 30%;
        width: min-content;
        background-color: #d4e4fe;
    }
}

.button:hover {
    background-color: #2b4875;
    color: white;
}

/*reading and writing sections*/

.list-section h1, h2, ul, ol, li, p {
    padding: 5px 10px;
    text-align: left;
    padding-left: 25%;
}

.list-section h1, h2 {
    padding-top: 1%;
}

.list-section ul {
    height:auto;
    font-size: 18px;
}

.list-section ol {
    height:auto;
    font-size: 18px;
}

.list-section li {
    height:auto;
    max-width:90%;
    font-size: 18px;
    padding-left: 5%;
}

.list-section a {
    border-bottom: 1px dotted;
    color: #2b4875;
    text-decoration: none;
}

